@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Aquire';
  src: url(fonts/Aquire-BW0ox.otf);
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/rubik-v14-latin-regular.woff2') format('woff2'),
       url('./fonts/rubik-v14-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/rubik-v14-latin-500.woff2') format('woff2'),
       url('./fonts/rubik-v14-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/rubik-v14-latin-700.woff2') format('woff2'),
       url('./fonts/rubik-v14-latin-700.woff') format('woff'); 
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 0.6vw;
  height: 8px;
}
body::-webkit-scrollbar-track {

  background: rgb(241, 241, 241 ,0.5);
  border: 1px solid #aaa;
}
body::-webkit-scrollbar-thumb {

  background: rgba(0,0,0,0.5);
  border: 1px solid #ccc;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-thumb:active{
  background: linear-gradient(left, #22ADD4, #1E98BA);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiSelect-select{
  height:unset;
}